name: Test docker in runner
on:
  push:
    branches: [ main ]
    tags:
      - 'v*.*.*'
  workflow_dispatch: # Allow manual run

jobs:
  run-container:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm # This will run the x86 (amd64) variant by default
    steps:
      - name: Run command in container
        run: |
          dpkg --add-architecture armhf
          dpkg --add-architecture arm64

          apt-get update -y
          apt-get install -y build-essential crossbuild-essential-armhf crossbuild-essential-arm64 libsystemd-dev libsystemd-dev:arm64 libsystemd-dev:armhf
          
          echo '--- Building AqualinkD (ARM64 & ARMHF) ---'
          make clean
          make buildrelease