name: Test docker in runner
on:
  push:
    branches: [ main ]
    tags:
      - 'v*.*.*'
  workflow_dispatch: # Allow manual run

jobs:
  run-container:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm # This will run the x86 (amd64) variant by default
    steps:
      - name: Run command in container
        run: |
          echo "This is running inside the Debian Bookworm container on an x86 runner"
          # Check the architecture inside the container
          dpkg --print-architecture
          ls -al