name: AqualinkD create release .tar.gz
on:
  #push:
  #  branches: [ main ]
  #  tags:
  #    - 'v*.*.*'
  workflow_dispatch: # Allow manual run

jobs:
  steps:
  - name: Checkout repository
    uses: actions/checkout@v4

  - name: Create release archive
    # This step correctly archives both resulting binaries from the workspace
    run: tar -czvf aqualinkd-build.tar.gz web/ release/

  - name: Create GitHub Release and Upload Artifact
    uses: softprops/action-gh-release@v2
    with:
      # Get the tag name that triggered the push
      tag_name: ${{ github.ref }}
      # Use the tag name for the release name
      name: Release ${{ github.ref }}
      # Set this to true if you want to review the release before publishing
      draft: false
      # Upload the generated release.tar.gz file
      files: release.tar.gz
    env:
      # The GITHUB_TOKEN is automatically provided by GitHub Actions
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}